# Required - Sanity project ID
PUBLIC_SANITY_STUDIO_PROJECT_ID="project_id_here"
# Required - The dataset of your Sanity project
PUBLIC_SANITY_STUDIO_DATASET="dataset_here"
# Required - The generated read token, used to fetch data on the server
SANITY_API_READ_TOKEN="read_token_here"
# Optional - The URL of your Sanity Studio.  Defaults to http://localhost:3333
PUBLIC_SANITY_STUDIO_URL=""
# Optional - Visual Editing - set to "true" to enable overlays in Presentation tool
PUBLIC_SANITY_VISUAL_EDITING_ENABLED="visual_editing_tf"